body {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 3vh;
} 

.controlbuttons {
    display: flex;
    flex-direction: column;
}

.board {
    width: 1000px;
    height: 88vh;
    border: 10px solid white;
    position: relative;
}

.player {
    background-color: white;
    height: 100px;
    width: 20px;
    border: 5px solid black;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    z-index: 1;
}

.user {
    left: 0;
}

.comp {
    right: 0;
}

.ball {
    background: white;
    height: 27px;
    width: 27px;
    border-radius: 50px;
    position: absolute;

    top: 200px;
    left: 300px;
    position: absolute;
    z-index: 3;
}
